@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Lato:wght@700&family=Ledger&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.apresentacao {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    background-color: #0F0013;
    color: #FFFFFF;
    font-family: 'Coda', cursive;
    text-transform: uppercase;
}

.apresentacao-titulo {
    font-size: 1.5em;
    font-weight: 400;
}

.vacuum {
    font-weight: 800;
}

.discord-vacuum {
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.login {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 42%;
    height: 100%;
    padding-top: 120px;
    background-color: #FFFFFF;
    color: #290A34;
    font-family: 'Coda', cursive;
}

.login-dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 50%;
}

.login-bemvindo, .login-conta {
    font-weight: 400;
}

.elipse {
    position: absolute;
    top: 0;
    right: 0;
}

.login-bemvindo {
    font-size: 1em;
}

.login-form {
    padding: 20px 0;
    font-family: 'Ledger', serif;
}


.login-form input {
    width: 100%;
    height: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: none;
}

.login-password-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

#email, #password, #remember {
    border-radius: 3px;
    border: 1px solid #E8E8E8;
    flex-shrink: 0;
    font-family: 'Ledger', serif;
}

.login a {
    text-decoration: none;
    color: #9B51E0;
}

.login-password-checkbox {
    display: flex;
    align-items: center;
}

.login-password-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    background: #F7FAFC;
    outline: none;
    margin-right: 8px;
    cursor: pointer;
}
  
.login-password-checkbox input[type="checkbox"]:checked {
    background-color: #F7FAFC;
    border: 1px solid #3498db;
}

.login-botao {
    background-color: #290A34;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 1em;
}

.login-semconta {
    position: fixed;
    bottom: 50px;
}

@media (max-width: 768px) {
    .apresentacao {
        display: none;
    }

    .elipse {
        display: none;
    }

    .login-titulos {
        justify-content: end;
    }

    .login-form {
        width: 100%;
    }

    .login-dados {
        width: 90%;
        padding: 80px 30px;
    }
}

